<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
<!ENTITY % BOOK_ENTITIES SYSTEM "Manual_ERPNext.ent">
%BOOK_ENTITIES;
]>
<chapter id="chap-ERPNext-Manual_ERPNext-Settings">
	<title>Settings</title>
	<para>
	Settings
	</para>
<section id="sect-ERPNext-Manual_ERPNext-Settings-System">
		<title>System Settings</title>
		<para>
		System Settings
		</para>
	</section>
<section id="sect-ERPNext-Manual_ERPNext-Settings-Modules">
		<title>Show or Hide Modules</title>
		<para>
		Show or Hide Modules
		</para>
	</section>
<section id="sect-ERPNext-Manual_ERPNext-Settings-Series">
		<title>Naming Series</title>
		<para>
		Naming Series
		</para>
	</section>
<section id="sect-ERPNext-Manual_ERPNext-Settings-Global">
		<title>Global Defaults</title>
		<para>
		Global Defaults
		</para>
	</section>
</chapter>
