<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
<!ENTITY % BOOK_ENTITIES SYSTEM "Manual_ERPNext.ent">
%BOOK_ENTITIES;
]>
<sect1 id="sect1-ERPNext-Manual_ERPNext-Setting_Up-Setup-Settings">
	<title>Settings</title>
	<para>
	Settings
	</para>
	<sect2 id="sect2-ERPNext-Manual_ERPNext-Setting_Up-Setup-Settings-System">
		<title>System Settings</title>
		<para>
		System Settings
		</para>
	</sect2>
	<sect2 id="sect2-ERPNext-Manual_ERPNext-Setting_Up-Setup-Settings-Modules">
		<title>Show or Hide Modules</title>
		<para>
		Show or Hide Modules
		</para>
	</sect2>
	<sect2 id="sect2-ERPNext-Manual_ERPNext-Setting_Up-Setup-Settings-Series">
		<title>Naming Series</title>
		<para>
		Naming Series
		</para>
	</sect2>
	<sect2 id="sect2-ERPNext-Manual_ERPNext-Setting_Up-Setup-Settings-Global">
		<title>Global Defaults</title>
		<para>
		Global Defaults
		</para>
	</sect2>
</sect1>
