<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
<!ENTITY % BOOK_ENTITIES SYSTEM "Manual_ERPNext.ent">
%BOOK_ENTITIES;
]>
<sect1 id="sect1-ERPNext-Manual_ERPNext-Setting_Up-Setup-Settings">
	<title>Settings</title>
	<para>
	In <emphasis>Setup > Settings</emphasis> you will find ways to manage your system settings like defaults, number and currency formats, global session timeout settings etc.
	</para>
	<sect2 id="sect2-ERPNext-Manual_ERPNext-Setting_Up-Setup-Settings-System">
		<title>System Settings</title>
		<para>
		You can localize ERPNext to use particular timezone, date, number or currency format and also set global session expiry via System Settings.
		</para>
		<para>
		To open System Settings, go to:
		</para>
		<programlisting>
		Setup > Settings > System Settings
		</programlisting>
		<mediaobject>
			<imageobject>
				<imagedata fileref="./images/system-settings.png" />
			</imageobject>
			<textobject><phrase>System Settings</phrase></textobject>
		</mediaobject>
	</sect2>
	<sect2 id="sect2-ERPNext-Manual_ERPNext-Setting_Up-Setup-Settings-Modules">
		<title>Show or Hide Modules</title>
		<para>
		You can globally switch off certain desktop module via:
		</para>
		<programlisting>
		Setup > Settings > Show or Hide Modules
		</programlisting>
		<para>
		For example if you are in the services business, you want to hide the Manufacturing Module, you can do this via Show or Hide Modules
		</para>
		<mediaobject>
			<imageobject>
				<imagedata fileref="./images/show-hide-modules.png" />
			</imageobject>
			<textobject><phrase>Show or Hide Modules</phrase></textobject>
		</mediaobject>
	</sect2>
	<sect2 id="sect2-ERPNext-Manual_ERPNext-Setting_Up-Setup-Settings-Series">
		<title>Naming Series</title>
		<para>
		<emphasis role="Bold">Naming Series</emphasis>
		</para>
		<para>
		Data records are broadly classified as “Master” or “Transaction”. A master record is a record that has a “name”, for example a Customer, Item, Supplier, Employee etc. A Transaction is a record that has a “number”. Examples of transactions include Sales Invoices, Quotations etc. You make transactions against a number of master records.
		</para>
		<para>
		ERPNext allows you to make prefixes to your transactions, with each prefix forming its own series. For example a series with prefix INV12 will have numbers INV120001, INV120002 and so on.
		</para>
		<para>
		You can have multiple series for all your transactions. It is common to have a separate series for each financial year. For example in Sales Invoice you could have:
		</para>
		<itemizedlist>
			<listitem>INV120001</listitem>
			<listitem>INV120002</listitem>
			<listitem>INV-A-120002</listitem>
		</itemizedlist>
		<para>
		etc. You could also have a separate series for each type of Customer or for each of your retail outlets.
		</para>
	</sect2>
	<sect2 id="sect2-ERPNext-Manual_ERPNext-Setting_Up-Setup-Settings-Global">
		<title>Global Defaults</title>
		<para>
		Global Defaults
		</para>
	</sect2>
</sect1>
